		<style>
			.item-box {
				background-color: #FFF7F7;
				width: 260px;
				height: 260px;
				display: inline-block;
				margin: 5px;
				/* no scrollbar */
				overflow:hidden;

				text-align: center;
				position: relative;
			}

			.item-box--image {
				width: 200px; 
				height: 235px;
				margin-top: 5%;
				margin-bottom: 10%;
				text-align: center;
			}

			.item-box--text {
				position: absolute; 
				float: left; 
				top: 220px; 
				left: 20px;
				font-family: Helvetica,Arial,"sans-serif";
				font-size: smaller;
				width: 220px;
			}

			.item-box--link {
			    border-radius: 50px;
			    /* background: #EEEEEE; */
			    border-color: #3A2600;
			    border-width: 1px;
			    border-style: solid;
			    font-weight: bold;
			    padding: 2px;
			    padding-top: 4px;
			    box-shadow: 1px 1px 1px #888888;
			    font-family: Helvetica,Arial,"sans-serif";
			    font-size: smaller;
				position: absolute; 
				float: right;
				top: 10px; 
				right: 10px;
				opacity: 0.4;
			}

			.item-box--price {
			    font-family: Helvetica,Arial,"sans-serif";
			    /*font-size: smaller; */
				position: absolute; 
				float: right;
				top: 20px; 
				left: 40px;
				color: #D28041;
			}

			.item-box--link:hover {
				cursor: pointer;
			}

			.item-box--image:hover {
				cursor: pointer;
			}

			.item-box--text:hover {
				cursor: pointer;
			}

			img .item-box--linkeye {
				top: 10px;
			}
		</style>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script language="javascript">
			//I created this proxy to work around security limitations imposed by Wix,
			//the online service that hosts my website. The proxy does 2 things:
			// 1) Convert the response to JSONP format
			// 2) Use HTTPS
			var proxyServer = "https://52.59.204.197/stylight/"

			var apiKey = "H6490912AB3211E680F576304DEC7EB7";
			var arLink = "example://gizmos";

			function addProductBoxToBody(productImg, productName, productPrice) {
				var eyeImg = "http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-icons-people-things/062523-glossy-black-icon-people-things-eye.png"
				var productBox = $("<div class='item-box'><img class='item-box--image' src='" + productImg + "'><div class='item-box--text'>" + productName + "</div><div class='item-box--link' onclick=window.open('" + arLink + "')>3D<br /><img width=25px height=20px style='item-box--linkeye' src='" + eyeImg + "'></div><div class='item-box--price'>" + productPrice + " €</div></div>");
				$("body").append(productBox);
			}

			function showProduct(product) {
				var productImg = product.images[0].url;
				var productName = product.name;
				var productPrice = product.price;
				console.log(productName);
				addProductBoxToBody(productImg, productName, productPrice);
			}

			//this was used temporarily when Stylight API was down, together with the commented out code below
			// function tempShowProduct() {
			// 	var productImg = "https://res.cloudinary.com/stylight/image/upload/e_trim/b_rgb:fff,c_pad,f_auto,q_auto,h_200,w_200/product-michael-kors-michael-michael-kors-jet-set-travel-card-holder-wallet-cinder-geldborse-in-bruin-beige-gris-voor-dames-109223034.jpg";
			// 	var productName = "Some middle length name which is not so bad but kinda cool";
			//  var productPrice = "40";
			// 	addProductBoxToBody(productImg, productName, productPrice);
			// }

			function parseResponse(data) {
				console.log(data)
				showProduct(data.products[0]);
				showProduct(data.products[1]);
				showProduct(data.products[2]);
				showProduct(data.products[3]);
				showProduct(data.products[4]);
				showProduct(data.products[5]);
			}

			$.getJSON(proxyServer + "products?apiKey=" + apiKey + "&parseResponse=?");

			//this was used temporarily when Stylight API was down
			// setTimeout(function () {
			// 	tempShowProduct();
			// 	tempShowProduct();
			// 	tempShowProduct();
			// 	tempShowProduct();
			// 	tempShowProduct();
			// 	tempShowProduct();
			// }, 1000);
		</script>
